# User Setup

## Preamble

In [1]:
from pathlib import Path

## Setup

As the first step, we import the `tuttle` Python module and instantiate the `app` object:

In [2]:
import tuttle

In [3]:
controller = tuttle.controller.Controller(home_dir=".demo_home")

Since this is the beginning of the workflow, let's make sure that we start from a clean database.

In [4]:
controller.clear_database()

2022-09-07 11:01:52,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-07 11:01:52,646 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2022-09-07 11:01:52,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,647 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2022-09-07 11:01:52,647 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,647 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2022-09-07 11:01:52,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,648 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user")
2022-09-07 11:01:52,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,649 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("icloudaccount")
2022-09-07 11:01:52,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,650 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("icloudaccount")
2022-09-07 11:01:52,650 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,651 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("googleaccount")
2022-09-07 11:01:52,651 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,652 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("googleaccount")
2022-09-07 11:01:52,652 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,653 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bank")
2022-09-07 11:01:52,653 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,654 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bank")
2022-09-07 11:01:52,654 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,654 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("bankaccount")
2022-09-07 11:01:52,655 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,655 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("bankaccount")
2022-09-07 11:01:52,656 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,656 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contact")
2022-09-07 11:01:52,656 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,657 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contact")
2022-09-07 11:01:52,657 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,657 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("client")
2022-09-07 11:01:52,658 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,658 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("client")
2022-09-07 11:01:52,658 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,659 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("contract")
2022-09-07 11:01:52,659 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,659 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("contract")
2022-09-07 11:01:52,660 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,660 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("project")
2022-09-07 11:01:52,660 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,661 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("project")
2022-09-07 11:01:52,661 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,661 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timetrackingitem")
2022-09-07 11:01:52,662 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,663 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timetrackingitem")
2022-09-07 11:01:52,663 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,664 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timesheet")
2022-09-07 11:01:52,664 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,665 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timesheet")
2022-09-07 11:01:52,665 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,665 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoice")
2022-09-07 11:01:52,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,666 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoice")
2022-09-07 11:01:52,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,667 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("invoiceitem")
2022-09-07 11:01:52,667 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,667 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("invoiceitem")
2022-09-07 11:01:52,668 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,668 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("timelineitem")
2022-09-07 11:01:52,668 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,669 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("timelineitem")
2022-09-07 11:01:52,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-07 11:01:52,670 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	street VARCHAR NOT NULL,
	number VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	postal_code VARCHAR NOT NULL,
	country VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,670 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-09-07 11:01:52,672 INFO sqlalchemy.engine.Engine
CREATE TABLE icloudaccount (
	id INTEGER NOT NULL,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,672 INFO sqlalchemy.engine.Engine [no key 0.00045s] ()
2022-09-07 11:01:52,674 INFO sqlalchemy.engine.Engine
CREATE TABLE googleaccount (
	id INTEGER NOT NULL,
	user_name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,674 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2022-09-07 11:01:52,675 INFO sqlalchemy.engine.Engine
CREATE TABLE bank (
	id INTEGER NOT NULL,
	"BLZ" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,676 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2022-09-07 11:01:52,677 INFO sqlalchemy.engine.Engine
CREATE TABLE bankaccount (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	"IBAN" VARCHAR NOT NULL,
	"BIC" VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,677 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2022-09-07 11:01:52,678 INFO sqlalchemy.engine.Engine
CREATE TABLE timelineitem (
	time DATETIME NOT NULL,
	id INTEGER NOT NULL,
	content VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-09-07 11:01:52,679 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2022-09-07 11:01:52,680 INFO sqlalchemy.engine.Engine
CREATE TABLE user (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	subtitle VARCHAR NOT NULL,
	website VARCHAR NOT NULL,
	email VARCHAR NOT NULL,
	phone_number VARCHAR NOT NULL,
	address_id INTEGER,
	"VAT_number" VARCHAR,
	icloud_account_id INTEGER,
	bank_account_id INTEGER,
	logo VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id),
	FOREIGN KEY(icloud_account_id) REFERENCES icloudaccount (id),
	FOREIGN KEY(bank_account_id) REFERENCES bankaccount (id)
)


2022-09-07 11:01:52,680 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-09-07 11:01:52,682 INFO sqlalchemy.engine.Engine
CREATE TABLE contact (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	email VARCHAR,
	address_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id)
)


2022-09-07 11:01:52,682 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2022-09-07 11:01:52,683 INFO sqlalchemy.engine.Engine
CREATE TABLE client (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	invoicing_contact_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoicing_contact_id) REFERENCES contact (id)
)


2022-09-07 11:01:52,684 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-09-07 11:01:52,685 INFO sqlalchemy.engine.Engine
CREATE TABLE contract (
	unit VARCHAR(6),
	billing_cycle VARCHAR(9),
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	signature_date DATE NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE,
	client_id INTEGER,
	rate NUMERIC NOT NULL,
	currency VARCHAR NOT NULL,
	"VAT_rate" NUMERIC NOT NULL,
	units_per_workday INTEGER NOT NULL,
	volume INTEGER,
	term_of_payment INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES client (id)
)


2022-09-07 11:01:52,685 INFO sqlalchemy.engine.Engine [no key 0.00037s] ()
2022-09-07 11:01:52,686 INFO sqlalchemy.engine.Engine
CREATE TABLE project (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE NOT NULL,
	contract_id INTEGER,
	PRIMARY KEY (id),
	UNIQUE (title),
	UNIQUE (tag),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-09-07 11:01:52,687 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2022-09-07 11:01:52,688 INFO sqlalchemy.engine.Engine
CREATE TABLE invoice (
	id INTEGER NOT NULL,
	number VARCHAR,
	date DATE NOT NULL,
	contract_id INTEGER,
	sent BOOLEAN,
	paid BOOLEAN,
	cancelled BOOLEAN,
	PRIMARY KEY (id),
	FOREIGN KEY(contract_id) REFERENCES contract (id)
)


2022-09-07 11:01:52,689 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2022-09-07 11:01:52,690 INFO sqlalchemy.engine.Engine
CREATE TABLE timesheet (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	date DATE NOT NULL,
	period VARCHAR NOT NULL,
	project_id INTEGER,
	comment VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(project_id) REFERENCES project (id)
)


2022-09-07 11:01:52,691 INFO sqlalchemy.engine.Engine [no key 0.00034s] ()
2022-09-07 11:01:52,692 INFO sqlalchemy.engine.Engine
CREATE TABLE invoiceitem (
	id INTEGER NOT NULL,
	start_date DATE NOT NULL,
	end_date DATE,
	quantity INTEGER NOT NULL,
	unit VARCHAR NOT NULL,
	unit_price NUMERIC NOT NULL,
	description VARCHAR NOT NULL,
	"VAT_rate" NUMERIC NOT NULL,
	invoice_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(invoice_id) REFERENCES invoice (id)
)


2022-09-07 11:01:52,692 INFO sqlalchemy.engine.Engine [no key 0.00041s] ()
2022-09-07 11:01:52,694 INFO sqlalchemy.engine.Engine
CREATE TABLE timetrackingitem (
	id INTEGER NOT NULL,
	timesheet_id INTEGER,
	"begin" DATETIME NOT NULL,
	"end" DATETIME,
	duration DATETIME NOT NULL,
	title VARCHAR NOT NULL,
	tag VARCHAR NOT NULL,
	description VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(timesheet_id) REFERENCES timesheet (id)
)


2022-09-07 11:01:52,694 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2022-09-07 11:01:52,695 INFO sqlalchemy.engine.Engine COMMIT

After running this, a new database has been created in your user space:

In [5]:
!ls {Path.home()}/.tuttle/

tuttle.db

## User

When first running the application, you need to provide the application with information about you and your freelance business. You do this by creating a new `User` object.

Here is an example:

In [6]:
from tuttle.model import User, Address, BankAccount, ICloudAccount

In [7]:
harry = User(
    name="Harry Tuttle",
    subtitle="Heating Engineer",
    website="https://tuttle-dev.github.io/tuttle/",
    email="mail@tuttle.com",
    phone_number="+55555555555",
    VAT_number="DZ-015",
    address=Address(
        name="Harry Tuttle",
        street="Main Street",
        number="450",
        city="Sao Paolo",
        postal_code="555555",
        country="Brazil",
    ),
    bank_account=BankAccount(
        name="Giro",
        IBAN="BZ99830994950003161565",
        BIC="ABCDEFGH",
    ),
    icloud_account=ICloudAccount(user_name="mail@tuttle.com")
)

Now it's your turn - please provide your details and instantiate a user object. 

(If you do not have an iCloud account, don't worry, there are other options of accessing your calendar data).

In [8]:
user = harry # replace this with an new user object

Store your new user in the database:

In [9]:
controller.store(user)

2022-09-07 11:01:53,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-07 11:01:53,399 INFO sqlalchemy.engine.Engine INSERT INTO address (street, number, city, postal_code, country) VALUES (?, ?, ?, ?, ?)
2022-09-07 11:01:53,400 INFO sqlalchemy.engine.Engine [generated in 0.00098s] ('Main Street', '450', 'Sao Paolo', '555555', 'Brazil')
2022-09-07 11:01:53,401 INFO sqlalchemy.engine.Engine INSERT INTO bankaccount (name, "IBAN", "BIC") VALUES (?, ?, ?)
2022-09-07 11:01:53,402 INFO sqlalchemy.engine.Engine [generated in 0.00042s] ('Giro', 'BZ99830994950003161565', 'ABCDEFGH')
2022-09-07 11:01:53,403 INFO sqlalchemy.engine.Engine INSERT INTO icloudaccount (user_name) VALUES (?)
2022-09-07 11:01:53,403 INFO sqlalchemy.engine.Engine [generated in 0.00036s] ('mail@tuttle.com',)
2022-09-07 11:01:53,404 INFO sqlalchemy.engine.Engine INSERT INTO user (name, subtitle, website, email, phone_number, address_id, "VAT_number", icloud_account_id, bank_account_id, logo) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-09-07 11:01:53,405 INFO sqlalchemy.engine.Engine [generated in 0.00034s] ('Harry Tuttle', 'Heating Engineer', 'https://tuttle-dev.github.io/tuttle/', 'mail@tuttle.com', '+55555555555', 1, 'DZ-015', 1, 1, None)
2022-09-07 11:01:53,405 INFO sqlalchemy.engine.Engine COMMIT

Test this by accessing the user:

In [10]:
controller.user

User(name='Harry Tuttle', subtitle='Heating Engineer', website='https://tuttle-dev.github.io/tuttle/', phone_number='+55555555555', VAT_number='DZ-015', bank_account_id=1, id=1, email='mail@tuttle.com', address_id=1, icloud_account_id=1, logo=None)